@import "bootstrap";

// app is mostly design for mobile; don't let it strech out too wide on desktop
@media (min-width: 1200px) {
    .container{
        max-width: 970px;
    }
}

// based on .lead but smaller font-size
.question {
    font-size: 1rem;
    font-weight: 300;
}