<% if Setting.voting_enabled %>
  <div id="mount-votes-react-app" />
  <%= javascript_pack_tag 'votes' %>
<% else %>
  <h3>Voting is not open</h3>

  <% if Setting.results_enabled %>
    <a class="btn btn-primary" href="/results" role="button">Voting Results</a>
  <% end %>

  <% if Setting.questions_enabled %>
    <a class="btn btn-primary" href="/results" role="button">Audience Questions</a>
  <% end %>
<% end %>
